<article>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th>Main</th>
                <th>Cloudiness</th>
                <th>Wind</th>
                <th>Temperature</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-transform: uppercase;">{{ weather.weather[0].main }}</td>
                <td (click)="selectedWeatherItem($event)">{{ weather.weather[0].description  | uppercase }}</td>
                <td>Wind speed (meter/sec): {{ weather.wind.speed }}</td>
                <td class="temperature">Temperature (celsius): {{ weather.main.temp }}</td>
                <td>{{ weather.dt_txt | date:'medium' }}</td>               
              </tr>
             
            </tbody>
          </table>
    </div>
    
</article>
